FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=your-secret-key-here

# Database
DB_PATH=instance/eduhotspotportal.db

# Default Admin (created on first run)
DEFAULT_ADMIN_PASSWORD=admin123

# MikroTik
MIKROTIK_HOST=192.168.1.1
MIKROTIK_PORT=8728
MIKROTIK_USER=apiuser
MIKROTIK_PASSWORD=apipassword
MIKROTIK_USE_SSL=false
